* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #e9ebee;
  color: #1d2129;
}

.Navbar {
  color: #ffffff;
  padding: 10px;
  background: #4167b2;
  display: flex;
  justify-content: space-between;
}

.Input, .Post {
  border: 1px solid hsl(216, 8%, 88%);
  border-radius: 4px;
  width: 576px;
  margin: 20px auto;
  background-color: white;
}

.Input__header {
  background-color: #f5f6f7;
  border-bottom: 1px solid #dddfe2;
  border-radius: 2px 2px;
  margin: 0;
  padding: 15px;
}

.Input__field {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 20px;
  background-color: white;
  border: none;
}

.Input__field.focus {
  outline: none;
}

.Post {
  padding: 10px;
}



.Post__image {
  width: 100%;
  margin-top: 15px;
}

.Page__Link {
  padding: 0px 20px;
  color: white;
  text-decoration: none;
}

.Post__menu {
  padding-left: auto;
}

.Post__header {
  width: 100%;
}

.Post__profile {
  text-wrap: wrap;
}

.Popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.Popup_Header {
  text-align: center;
  padding: 10px 20px;
  display: flex;
}

.Box {
  position: relative;
  width: 50%;
  min-height: 100px;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 4px;
  margin: 20px auto;
}

.Popup_Button {
  display: flex;
  padding: 0px 20px;
  margin-left: auto;
  text-align: center;
  justify-content: space-evenly;
}

.btn-close {
  min-width: 60px;
  min-height: 25px;
  padding: 0px 20px;
}

.btn-delete {
  min-width: 60px;
  min-height: 25px;
  padding: 0px 20px;
}