* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #e9ebee;
  color: #1d2129;
}

.App {
  background-color: white;
}

.Navbar {
  color: #ffffff;
  padding: 10px;
  background: #4167b2;
  display: flex;
  justify-content: space-between;
}

.Input, .Post {
  border: 1px solid hsl(216, 8%, 88%);
  border-radius: 4px;
  width: 576px;
  margin: 0px auto;
  background-color: white;
}

.Input__header {
  padding: 10px;
}

.Input__button {
  width: 100%;
  border-radius: 20px;
  text-align: left;
  align-content: center;
  padding: 0px 10px;
  background-color: #e9ebee;
}
.Input__button:hover {
  width: 100%;
  background-color: rgb(194, 198, 206);
  border-radius: 20px;
  border-color: none;
  cursor: pointer;
}

.Input__field {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 20px;
  background-color: white;
  border: none;
}

.Input__field.focus {
  outline: none;
}

.Post {
  padding: 10px;
}

.Post__page {
  background-color: white;
  gap: 10px;
  display: grid;
}

.Post__image {
  width: 100%;
  margin-top: 15px;
}

.Page__Link {
  padding: 0px 20px;
  color: white;
  text-decoration: none;
}

.Post__menu {
  position: absolute;
  top: 1rem;
  right: 0;
  min-width: 100px;
}

.Post__header {
  padding: 0px 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Post__profile__image {
  width: 40px;
  height: 40px;
  min-width: 40px;
  max-width: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.Post__profile__image > * {
  width: 100%;
  height: 100%;
}

.Post__profile {
  text-wrap: wrap;
  display: flex;
  align-items: center;
}

.Popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.Popup_Header {
  text-align: center;
  padding: 10px 20px;
  display: flex;
}

.Popup_Title {
  padding-right: 10px;
  width: 90px;
}

.Popup_Box {
  width: 100%;
  padding: 0 10px;
}

.Popup_Input {
  padding: 10px 0;
  grid-template-columns: 10% 80%;
  display: grid;

  gap: 20px;
  width: 80%;
  margin: 0 auto;
}

.Box {
  position: relative;
  width: 50%;
  min-height: 100px;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 4px;
  margin: 20px auto;
  padding: 10px 0;
}

.Popup_Button {
  display: flex;
  padding: 0px 20px;
  margin-left: auto;
  text-align: center;
  justify-content: space-evenly;
}

.btn-close {
  min-width: 60px;
  min-height: 25px;
  padding: 0px 20px;
}

.btn-delete {
  min-width: 60px;
  min-height: 25px;
  padding: 0px 20px;
}

.login-page {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-window {
  padding: 10px 10px;
  min-width: 400px;
  width: 30%;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.login-header {
  padding: 10px 10px;
  margin-bottom: 5px;
  min-width: 400px;
  width: 30%;
  text-align: center;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.login-input {
  display: flex;
  width: 100%;
  padding: 5px 0px;
}

.login-button {
  width: 100%;
  padding: 10px 0px;
}

.login-text {
  display: flex;
  padding-top: 10px;
}

.login-animation {
  animation-name: login;
  animation-duration: 1s;
}

@keyframes login {
  from {opacity: 0%; transform: translate(100%,0);}
  to {opacity: 100%; transform: translate(0,0);}
}

.register-text {
  text-decoration: underline;
}

.register-text:hover {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: relative;
  background-color: #fff;
  gap: 2rem;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
}

.post-input {
  display: flex;
  width: 100%;
  padding: 5px 5px;
  border: solid;
  border-color: rgb(194, 198, 206);
  border-width: 2px;
  border-left: none;
  border-right: none;
}

.post-input:focus {
  outline: none;
}

.main-page {
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.p-relative {
  position: relative;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.gap-4 {
  gap: 1rem;
}